body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px; /* Ajustez la taille de votre logo selon vos besoins */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

.cta-button:hover {
    background-color: #45a049;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 100%; /* Pour que l'image s'adapte à la taille du conteneur */
    border-radius: 8px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}